/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url("reset.css");
@import url("fonts.css");
@import url("colors.css");

/* Main starts */

body
{
  font-family: var(--font-secondary);
}

/* Index starts */
@import url("index.css");
/* Index ends */


/* Global */

.button--primary {
  list-style: none;
  text-decoration: none;
  font-family: var(--font-secondary);
  background-color: var(--blue-oxford);
  color: var(--white);
  max-width: 200px;
  border-radius: 10px;
  padding: 6px;
}

.button--primary:hover {
  background: #fff;
  color: var(--blue-oxford);
  box-shadow: 0 4px 4px rgba(83, 100, 255, 0.32);
}
.button--primary:focus {
  outline: 2px solid var(--blue-oxford);
  outline-offset: 2px;
}

.center
{
  display: flex;
  justify-content: center
}

::placeholder
{
  color: var(--gray-200)
}
.attributes
{
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: var(--gray-600);
}
.margin
{
  margin-block-end: 16px;
}
.border
{
  border-radius: 10px;
}
.input--text
{
  width: 300px;
}

/* Main ends */




/* Footer starts*/
@import url("footer.css");

/* Footer ends*/